<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYAPP-BLOG:
        {{page_title}}
    </title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body background="/static/img/symphony.png">
    {% if page_title == 'HOME' and username %}
    <div class="style-col-red">
    {% elif page_title == 'NEW-POST' %}
    <div class="style-col-blue">
    {% elif page_title == 'MY-POST' %}
    <div class="style-col-green">
    {% elif page_title == 'SETTING' %}
    <div class="style-col-orange">
    {% elif page_title == 'WELCOME' %}
    <div class="style-col-purple">
    {% elif page_title == 'EDIT-POST' %}
    <div class="style-col-purple">
    {% elif page_title == 'EDIT-COMMENT' %}
    <div class="style-col-purple">
    {% elif page_title == 'PERMALINK' and username %}
    <div class="style-col-purple">
    {% else %}
    <div class="style-col-black">
    {% endif %}
		<h1 align="center">[ MYAPP-BLOG ]</h1>
        {% if username %}
        <h3 class="blog-sign-out">
			[ <i class="fa fa-user" aria-hidden="true"></i> {{username}} ]
			<a href="/signout">
				[ <i class="fa fa-sign-out" aria-hidden="true"></i> SIGN-OUT ]
			</a>
		</h3>
        {% endif %}
        <h2>/ {{page_title}} /</h2>
        {% block content %}
        {% endblock %}
        <hr>
    </div>
</body>

</html>