{% extends "base.html" %}
{% block content %}
{% if username %}
<div class="blog-menu">
    <a href="/"><button class="blog-button button-col-red">/ <i class="fa fa-home" aria-hidden="true"></i> /</button></a>
    <a href="/newpost"><button class="blog-button button-col-blue">/ <i class="fa fa-pencil-square-o" aria-hidden="true"></i> /</button></a>
    <a href="/mypost"><button class="blog-button button-col-green">/ <i class="fa fa-align-justify" aria-hidden="true"></i> /</button></a>
    <a href="/setting"><button class="blog-button button-col-orange">/ <i class="fa fa-cogs" aria-hidden="true"></i> /</button></a>
    <hr>
</div>
{% else %}
<div class="blog-menu">
    <a href="/"><button class="blog-button button-col-black">/ <i class="fa fa-home" aria-hidden="true"></i> /</button></a>
    <a href="/signin"><button class="blog-button button-col-black">/ <i class="fa fa-sign-in" aria-hidden="true"></i> /</button></a>
    <a href="/signup"><button class="blog-button button-col-black">/ <i class="fa fa-user-plus" aria-hidden="true"></i> /</button></a>
	<hr>
</div>
{% endif %}
{% if username %}
<div class="blog-div div-border-purple">
    <div class="blog-header">
        <span class="button-col-purple">{{post.post_subject}}</span>
        <button class="blog-button button-col-purple">[ <i class="fa fa-comment-o" aria-hidden="true"></i> : {{count_comments(post.key().id(), comments)|string()}} ]</button>
        <button class="blog-button button-col-purple">[ <i class="fa fa-check" aria-hidden="true"></i> : {{count_likes(post.key().id(), liked_post)|string()}} ]</button>
{% else %}
<div class="blog-div div-border-black">
    <div class="blog-header">
        <span class="button-col-black">{{post.post_subject}}</span>
        <button class="blog-button button-col-black">[ <i class="fa fa-comment-o" aria-hidden="true"></i> : {{count_comments(post.key().id(), comments)}} ]</button>
        <button class="blog-button button-col-black">[ <i class="fa fa-pencil" aria-hidden="true"></i> : {{count_likes(post.key().id(), liked_post)}} ]</button>
{% endif %}
        <hr>
    </div>
    <div class="blog-content">
        <pre>{{post.post_content|safe}}</pre>
        <hr>
    </div>
    <div class="blog-footer-post">
        <span class="max-width-div-post">
		{% if username and not post.user_id == user_id %}
		{% if user_liked_post(post.key().id(), liked_post) %}
		<a href="/post/{{post.key().id()}}/dislike">
			[ <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> DISLIKE ]
		</a>
		{% else %}
		<a href="/post/{{post.key().id()}}/like">
			[ <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> LIKE ]
		</a>
		{% endif %}
		{% endif %}
		[ <i class="fa fa-calendar" aria-hidden="true"></i> {{post.created.strftime("%b %d, %Y")}} ]
		</span>
		<span class="min-width-div-post">
		{% if username and not post.user_id == user_id %}
		{% if user_liked_post(post.key().id(), liked_post) %}
		<a href="/post/{{post.key().id()}}/dislike">
			[ <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> DISLIKE ]
		</a>
		{% else %}
		<a href="/post/{{post.key().id()}}/like">
			[ <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> LIKE ]
		</a>
		{% endif %}
		<br>
		{% endif %}
		[ <i class="fa fa-calendar" aria-hidden="true"></i> {{post.created.strftime("%b %d, %Y")}} ]
		</span>
    </div>
</div>
<div class="blog-header">
    {% if username %}
    <span class="button-col-purple">COMMENTS :</span>
    {% else %}
    <span class="button-col-black">COMMENTS :</span>
    {% endif %}
    <hr>
</div>
{% if comments.count() %}
{% for comment in comments %}
<div class="blog-div div-border-purple">
    <h3 class="blog-remove-margin">
        {{comment.name}}
    </h3>
    <p>
        {{comment.comment_content}}
    </p>
    <div class="blog-footer-comment">
		<span class="max-width-div-comment">
        {% if not comment.user_id == post.user_id %}
        <span class="blog-float-left"><a href="/comment/{{comment.key().id()}}/edit">[ <i class="fa fa-pencil" aria-hidden="true"></i> EDIT ]</a></span>
        <span class="blog-float-left"><a href="/comment/{{comment.key().id()}}/delete">[ <i class="fa fa-trash" aria-hidden="true"></i> DELETE ]</a></span>
        {% endif %}
        [ <i class="fa fa-envelope-o" aria-hidden="true"></i>{{comment.email}} ]
		[ <i class="fa fa-clock-o" aria-hidden="true"></i>{{comment.created.strftime("%H:%M %x")}} ]
		</span>
		<span class="min-width-div-comment">
        {% if not comment.user_id == post.user_id %}
        <span><a href="/comment/{{comment.key().id()}}/edit">[ <i class="fa fa-pencil" aria-hidden="true"></i> EDIT ]</a></span>
        <span><a href="/comment/{{comment.key().id()}}/delete">[ <i class="fa fa-trash" aria-hidden="true"></i> DELETE ]</a></span>
        {% endif %}
		<br>
		[ <i class="fa fa-envelope-o" aria-hidden="true"></i> {{comment.email}} ]
		<br>
		[ <i class="fa fa-clock-o" aria-hidden="true"></i> {{comment.created.strftime("%H:%M %x")}} ]
		</span>
    </div>
</div>
{% endfor %}
{% else %}
<h2 align="center">[ EMPTY ]</h2>
{% endif %}
{% if username and show_form %}
<div class="blog-form">
    <form method="POST">
		<br>
		<pre>POST-COMMENT :</pre>
		<hr>
		<input hidden name="post_id" value="{{post.key().id()}}" readonly>
		<pre>NAME :</pre>
		<input class="form-input" name="input_name" type="text" value="{{input_name}}" required>
		<pre>E-MAIL :</pre>
		<input class="form-input" name="input_email" type="email" value="{{input_email}}" required> <span>{{err_email}}</span>
		<pre>COMMENT :</pre>
		<textarea class="comment-textarea" name="comment_content" required>{{comment_content}}</textarea>
		<br>
		<br>
		<input class="blog-button button-col-purple" type="submit" value="[ SUBMIT ]">
    </form>
</div>
{% endif %}
{% endblock %}