<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- https://fontawesome.com/v4.7.0/ -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <!-- CUSTOM-FAVICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <!-- CUSTOM-STYLES -->
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/custom-styles.css') }}">
  <title>BLOG : {{page_title}}</title>
</head>

<body>
  <div class="website-container theme-{{page_color}}">
    {% include "header.html" %}
    <hr class="theme-border">
    {% with messages = get_flashed_messages() -%}
    {% if messages -%}
    <ul class=flashes>
      {%- for message in messages %}
      <li>{{ message }}</li>
      {%- endfor %}
    </ul>
    {%- endif %}
    {%- endwith %}
    {% block content %}
    {% endblock %}
    <hr class="theme-border">
  </div>
  <!-- CUSTOM-SCRIPTS -->
  <script src="{{ url_for('static', filename='js/custom-scripts.js') }}"></script>
</body>

</html>