{% extends "layout.html" %}
{% block content %}
<main class="page-container">
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-field">
      {{ form.body.label }}
      <div class="form-input">
        {{ form.body }}
        {%- if form.body.errors -%}
        <ul class="error-list">
          {%- for error in form.body.errors %}
          <li>{{ error }}</li>
          {%- endfor %}
        </ul>
        {%- endif %}
      </div>
    </div>
    <div class="form-submit">
      <button type="submit" class="theme-button enclose-square">
        SUBMIT
      </button>
    </div>
  </form>
</main>
{% endblock %}