{% extends "base.html" %}
{% block content %}
<div class="blog-form">
  <form method="POST">
    <input hidden name="post_id" value="{{post_id}}" readonly>
    <pre>NAME :</pre>
    <input class="form-input" name="name" type="text" value="{{name}}" required>
    <span class="blog-error">{{err_name}}</span>
    <pre>E-MAIL :</pre>
    <input class="form-input" name="email" type="email" value="{{email}}" required>
    <span class="blog-error">{{err_email}}</span>
    <pre>COMMENT :</pre>
    <textarea class="comment-textarea" name="content" required>{{content}}</textarea>
    <h3 class="blog-error">{{err_comment}}</h3>
    <br>
    <br>
    <input class="blog-button button-purple" type="submit" value="[ SUBMIT ]">
    <a href="/post/{{post_id}}">
      <input class="blog-button button-purple" type="button" value="[ CANCEL ]">
    </a>
  </form>
</div>
{% endblock %}