<div class="website-title">
  [ MYAPP-BLOG ]
</div>
{% if user %}
<div class="navbar">
  {% if page_template == 'home.html' %}
  <button class="blog-button button-col-red">
    / <i class="fa fa-home" aria-hidden="true"></i> /
  </button>
  {% else %}
  <a href="/">
    <button class="blog-button button-col-red">
      [ <i class="fa fa-home" aria-hidden="true"></i> ]
    </button>
  </a>
  {% endif %}
  {% if page_template == 'new-post' %}
  <button class="blog-button button-col-blue">
    [ <i class="fa fa-pencil-square-o" aria-hidden="true"></i> ]
  </button>
  {% else %}
  <a href="/new-post">
    <button class="blog-button button-col-blue">
      / <i class="fa fa-pencil-square-o" aria-hidden="true"></i> /
    </button>
  </a>
  {% endif %}
  {% if page_template == 'my-post.html' %}
  <button class="blog-button button-col-green">
    [ <i class="fa fa-align-justify" aria-hidden="true"></i> ]
  </button>
  {% else %}
  <a href="/my-post">
    <button class="blog-button button-col-green">
      / <i class="fa fa-align-justify" aria-hidden="true"></i> /
    </button>
  </a>
  {% endif %}
  {% if page_template == 'setting.html' %}
  <button class="blog-button button-col-orange">
    [ <i class="fa fa-cogs" aria-hidden="true"></i> ]
  </button>
  {% else %}
  <a href="/setting">
    <button class="blog-button button-col-orange">
      / <i class="fa fa-cogs" aria-hidden="true"></i> /
    </button>
  </a>
  {% endif %}
  <hr>
</div>
{% else %}
<div class="navbar">
  {% if page_template == 'home.html' %}
  <button class="button">
    [ <i class="fa fa-home" aria-hidden="true"></i> ]
  </button>
  {% else %}
  <a href="/">
    <button class="button">
      / <i class="fa fa-home" aria-hidden="true"></i> /
    </button>
  </a>
  {% endif %}
  {% if page_template == 'sign-in.html' %}
  <button class="button">
    [ <i class="fa fa-sign-in" aria-hidden="true"></i> ]
  </button>
  {% else %}
  <a href="/sign-in">
    <button class="button">
      / <i class="fa fa-sign-in" aria-hidden="true"></i> /
    </button>
  </a>
  {% endif %}
  {% if page_template == 'sign-up.html' %}
  <button class="button">
    [ <i class="fa fa-user-plus" aria-hidden="true"></i> ]
  </button>
  {% else %}
  <a href="/sign-up">
    <button class="button">
      / <i class="fa fa-user-plus" aria-hidden="true"></i> /
    </button>
  </a>
  {% endif %}
</div>
<div class="page-title-container">
  <div class="page-title">
    / {{page_title}} /
  </div>
  {% if not user %}
  <div class="signed-in-container">
    <span>
      [ <i class="fa fa-user" aria-hidden="true"></i> kkmn ]
    </span>
    <a href="/sign-out">
      [ <i class="fa fa-sign-out" aria-hidden="true"></i> SIGN-OUT ]
    </a>
  </div>
  {% endif %}
</div>
{% endif %}