{% extends "base.html" %}
{% block content %}
<main class="page-container">
  <div class="search-container">
    <div class="search-button">
      <button type="button" class="theme-button font-size-22" title="Search" onclick="searchPosts()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="search-input">
      <input id="search" type="text" autocomplete="off" onkeyup="detectEnterKeyPress(event)" />
    </div>
  </div>
  {% include "posts.html" %}
</main>
{% endblock %}