{% extends "layout.html" %}
{% block content %}
<main class="page-container">
  <div class="search-container">
    <div class="search-input-container">
      <input id="searchInput" type="text" onkeyup="detectEnterKeyPress(event)" value="{{query}}" />
    </div>
    <div class="search-button-container">
      <button title="Search posts" type="button" class="theme-button enclose-square" onclick="searchPosts()">
        SEARCH
      </button>
    </div>
  </div>
  {% include "partials/posts.html" %}
</main>
{% endblock %}