{% extends "base.html" %}
{% block content %}
{% if posts %}
{% for post in posts %}
<div class="blog-div border-{{page_color}}">
  <div class="blog-header">
    <a href="/post/{{post.id}}">
      <span class="button-{{page_color}}">{{post.subject}}</span>
    </a>
    <div class="blog-button-group">
      <button class="blog-button button-{{page_color}}">
        [ <i class="fa fa-comment-o" aria-hidden="true"></i> : {{post.comments.count()}} ]
      </button>
      <button class="blog-button button-{{page_color}}">
        [ <i class="fa fa-check" aria-hidden="true"></i> : {{post.liked_by.count()}} ]
      </button>
    </div>
    <hr>
  </div>
  <div class="blog-content">{{post.content|safe}}</div>
  <hr>
  <div class="blog-footer-post">
    <a href="/post/{{post.id}}/edit">
      [ <i class="fa fa-pencil" aria-hidden="true"></i> EDIT ]
    </a>
    <a href="/post/{{post.id}}/delete">
      [ <i class="fa fa-trash" aria-hidden="true"></i> DELETE ]
    </a>
    {% if user and not post.user_id == user.id %}
    {% if post in user.liked_posts %}
    <a href="/post/{{post.id}}/dislike">
      [ <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> DISLIKE ]
    </a>
    {% else %}
    <a href="/post/{{post.id}}/like">
      [ <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> LIKE ]
    </a>
    {% endif %}
    {% endif %}
    <span>
      [ <i class="fa fa-calendar" aria-hidden="true"></i> {{post.created.strftime("%b %d, %Y")}} ]
    </span>
  </div>
</div>
{% if post.comments.count() > 0 %}
{% for comment in post.comments.comments %}
<div class="blog-div border-green">
  <h3 class="margin-zero">
    {{comment.name}}
  </h3>
  <p>
    {{comment.content}}
  </p>
  <div class="blog-footer-comment">
    {% if not comment.user_id == post.user_id %}
    <a href="/comment/{{comment.id}}/edit">
      [ <i class="fa fa-pencil" aria-hidden="true"></i> EDIT ]
    </a>
    <a href="/comment/{{comment.id}}/delete">
      [ <i class="fa fa-trash" aria-hidden="true"></i> DELETE ]
    </a>
    {% endif %}
    [ <i class="fa fa-envelope-o" aria-hidden="true"></i> {{comment.email}} ]
    [ <i class="fa fa-clock-o" aria-hidden="true"></i> {{comment.created.strftime("%H:%M %x")}} ]
  </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% else %}
<h2 class="text-align-center">[ EMPTY ]</h2>
{% endif %}
{% endblock %}