{% extends "base.html" %}
{% block content %}
{% if user %}
<div class="blog-div border-{{page_color}}">
  <div class="blog-header">
    <span class="button-{{page_color}}">{{post.subject}}</span>
    <div class="blog-button-group">
      <button class="blog-button button-{{page_color}}">
        [ <i class="fa fa-comment-o" aria-hidden="true"></i> : {{post.comments.count()}} ]
      </button>
      <button class="blog-button button-{{page_color}}">
        [ <i class="fa fa-check" aria-hidden="true"></i> : {{post.liked_by.count()}} ]
      </button>
    </div>
    <hr>
  </div>
  <div class="blog-content">{{post.content|safe}}</div>
  <hr>
  <div class="blog-footer-post">
    {% if user and not post.user_id == user.id %}
    {% if user_liked_post(post.id, liked_posts) %}
    <a href="/post/{{post.id}}/dislike">
      [ <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> DISLIKE ]
    </a>
    {% else %}
    <a href="/post/{{post.id}}/like">
      [ <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> LIKE ]
    </a>
    {% endif %}
    {% endif %}
    <span>
      [ <i class="fa fa-calendar" aria-hidden="true"></i> {{post.created.strftime("%b %d, %Y")}} ]
    </span>
  </div>
  <span class="button-{{page_color}}">COMMENTS :</span>
  <hr>
  {% if post.comments %}
  {% for comment in post.comments %}
  <div class="blog-div border-{{page_color}}">
    <h3 class="margin-zero">
      {{comment.name}}
    </h3>
    <p>
      {{comment.content}}
    </p>
    <div class="blog-footer-comment">
      {% if not comment.user_id == post.user_id %}
      <a href="/comment/{{comment.id}}/edit">
        [ <i class="fa fa-pencil" aria-hidden="true"></i> EDIT ]
      </a>
      <a href="/comment/{{comment.id}}/delete">
        [ <i class="fa fa-trash" aria-hidden="true"></i> DELETE ]
      </a>
      {% endif %}
      [ <i class="fa fa-envelope-o" aria-hidden="true"></i> {{comment.email}} ]
      [ <i class="fa fa-clock-o" aria-hidden="true"></i> {{comment.created.strftime("%H:%M %x")}} ]
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h2 class="text-align-center">[ EMPTY ]</h2>
  {% endif %}
  {% if user and show_form %}
  <div class="blog-form">
    <form method="POST">
      <br>
      <pre>POST-COMMENT :</pre>
      <hr>
      <input hidden name="post_id" value="{{post.id}}" readonly>
      <pre>NAME :</pre>
      <input class="form-input" name="name" type="text" value="{{name}}" required>
      <pre>E-MAIL :</pre>
      <input class="form-input" name="email" type="email" value="{{email}}" required>
      <span class="blog-error">{{err_email}}</span>
      <pre>COMMENT :</pre>
      <textarea class="comment-textarea" name="content" required>{{content}}</textarea>
      <br>
      <br>
      <input class="blog-button button-{{page_color}}" type="submit" value="[ SUBMIT ]">
    </form>
  </div>
  {% endif %}
  {% endblock %}