{% block posts %}
{% if pagination.items -%}
{%- for post in pagination.items %}
<div class="post-container theme-border">
  <div class="post-header">
    <div class="post-title-container">
      <a class="post-title" href="{{ url_for('app.view_post', post_id=post.id) }}">
        <b>{{post.title}}</b>
      </a>
      <div class="post-author-container">
        <span>by</span>
        <a href="{{ url_for('app.view_user', user_id=post.user.id) }}">
          <i><b>{{post.user.username}}</b></i>
        </a>
      </div>
    </div>
    {%- if user and not user.id == post.user_id -%}
    <div class="post-button-container">
      {% if post not in user.saved_posts -%}
      <a class="theme-button" href="{{ url_for('app.save_post', post_id=post.id) }}">
        <i class="fa fa-bookmark-o" aria-hidden="true" title="Save"></i>
      </a>
      {%- else -%}
      <a class="theme-button" href="{{ url_for('app.unsave_post', post_id=post.id) }}">
        <i class="fa fa-bookmark" aria-hidden="true" title="Un-Save"></i>
      </a>
      {%- endif %}
    </div>
    {%- endif %}
  </div>
  <div class="post-footer">
    <span class="post-date">{{post.created.strftime("%b %d, %Y")}}</span>
    <div class="post-button-container">
      <span class="display-inline-flex" title="Like-Count">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <span>{{post.liked_by|length}}</span>
      </span>
      <span class="display-inline-flex" title="Comment-Count">
        <i class="fa fa-comment" aria-hidden="true"></i>
        <span>{{post.comments|length}}</span>
      </span>
    </div>
  </div>
</div>
{%- endfor %}
<div class="pagination-container">
  {% if pagination.has_prev -%}
  <button type="button" class="theme-button" onclick="searchPosts('{{pageRoute}}', '{{pagination.prev_num}}')">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>PREV-PAGE</span>
  </button>
  {%- else -%}
  <button type="button" class="theme-button disabled" disabled>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>PREV-PAGE</span>
  </button>
  {%- endif %}
  {% if pagination.has_next -%}
  <button type="button" class="theme-button" onclick="searchPosts('{{pageRoute}}', '{{pagination.next_num}}')">
    <span>NEXT-PAGE</span>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
  {%- else -%}
  <button type="button" class="theme-button disabled" disabled>
    <span>NEXT-PAGE</span>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
  {%- endif %}
</div>
{%- else -%}
<div class="text-align-center">
  <span class="font-size-24">[ EMPTY ]</span>
</div>
{%- endif %}
{% endblock %}