{% extends "base.html" %}
{% block content %}
<div class="blog-menu">
  <a href="/">
    <button class="blog-button button-col-red">
      [ <i class="fa fa-home" aria-hidden="true"></i> ]
    </button>
  </a>
  <a href="/new-post">
    <button class="blog-button button-col-blue">
      / <i class="fa fa-pencil-square-o" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/my-post">
    <button class="blog-button button-col-green">
      / <i class="fa fa-align-justify" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/setting">
    <button class="blog-button button-col-orange">
      / <i class="fa fa-cogs" aria-hidden="true"></i> /
    </button>
  </a>
  <hr>
</div>
<div class="blog-form">
  <form method="POST">
    <h3>PROFILE SETTING :</h3>
    <hr>
    <br>
    <pre>Leave it as it is if don't want to change.</pre>
    <br>
    <pre>NAME :</pre>
    <input name="name" class="form-input" type="text" value="{{name}}">
    <pre>E-MAIL :</pre>
    <input name="email" class="form-input" type="email" value="{{email}}">
    <span class="blog-error">{{err_email}}</span>
    <br>
    <h3>CONTROL PANEL :</h3>
    <hr>
    <br>
    <table class="blog-table">
      <tr>
        <td><input name="delete1" type="checkbox"></td>
        <td>
          <pre>Delete all comments posted by me.</pre>
        </td>
      </tr>
      <tr>
        <td><input name="delete2" type="checkbox"></td>
        <td>
          <pre>Delete all posts posted by me.</pre>
        </td>
      </tr>
      <tr>
        <td><input name="delete3" type="checkbox"></td>
        <td>
          <pre>Delete my account.</pre>
        </td>
      </tr>
    </table>
    <br>
    <br>
    <input class="blog-button button-col-orange" type="submit" value="[ SUBMIT ]">
  </form>
</div>
{% endblock %}