{% extends "base.html" %}
{% block content %}
<main class="page-container">
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-field">
      {{ form.username.label }}
      <div class="form-input">
        {{ form.username }}
        {%- if form.username.errors -%}
        <ul class="error-list">
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {%- endif %}
      </div>
    </div>
    <div class="form-field">
      {{ form.password.label }}
      <div class="form-input">
        {{ form.password }}
        {%- if form.password.errors -%}
        <ul class="error-list">
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {%- endif %}
      </div>
    </div>
    <div class="form-field">
      {{ form.confirm.label }}
      <div class="form-input">
        {{ form.confirm }}
        {%- if form.confirm.errors -%}
        <ul class="error-list">
          {% for error in form.confirm.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {%- endif %}
      </div>
    </div>
    <div class="margin-top-20 margin-bottom-20">
      <button type="submit" class="theme-button font-size-22 enclose-square">
        SUBMIT
      </button>
    </div>
    <div class="margin-top-10">
      <span>Already have an account?</span>
      <a class="theme-button enclose-square" href="{{ url_for('app.sign_in') }}"><b>SIGN-IN</b></a>
    </div>
  </form>
</main>
{% endblock %}