{% extends "layout.html" %}
{% block content %}
<main class="page-container">
  <div class="user-container">
    <div class="user-name">
      <span><b>{{ username }}</b></span>
    </div>
    <div class="user-stats">
      <div class="user-stats-item">
        <span>POSTS</span>
        <b>{{ post_count }}</b>
      </div>
      <div class="user-stats-item">
        <span>LIKES</span>
        <b>{{ like_count }}</b>
      </div>
    </div>
  </div>
  {% include "partials/posts.html" %}
</main>
{% endblock %}
