{% extends "base.html" %}
{% block content %}
<div class="blog-menu">
  <a href="/">
    <button class="blog-button button-red">
      / <i class="fa fa-home" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/new-post">
    <button class="blog-button button-blue">
      / <i class="fa fa-pencil-square-o" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/my-post">
    <button class="blog-button button-green">
      / <i class="fa fa-align-justify" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/setting">
    <button class="blog-button button-orange">
      / <i class="fa fa-cogs" aria-hidden="true"></i> /
    </button>
  </a>
  <hr>
</div>
<div class="page-content">
  <h3 class="text-align-center">Welcome, {{user.username}}</h1>
</div>
{% endblock %}