@media screen and (min-width: 470px) {
  body {
    margin: 2% 5% 2% 5%;
  }
  .blog-sign-out,
  .blog-footer-post {
    text-align: right;
  }
}
@media screen and (max-width: 471px) {
  body {
    margin: 2% 3% 2% 3%;
  }
  .blog-sign-out,
  .blog-footer-post {
    text-align: center;
  }
  .blog-float-left {
    float: none;
  }
}
@media screen and (max-width: 900px) {
  .blog-footer-comment {
    text-align: center;
  }
}
@media screen and (min-width: 901px) {
  .blog-footer-comment {
    text-align: right;
  }
}
body {
  font-family: "courier new", courier, monospace;
  background-image: url("/static/img/symphony.png");
  margin: 2% 3% 2% 3%;
}
a {
  text-decoration: none;
}
pre {
  white-space: pre-wrap;
}
.text-align-center {
  text-align: center;
}
.blog-menu {
  text-align: right;
}
.blog-menu button {
  font-size: 30px;
}
.blog-table {
  width: 100%;
}
.blog-table input {
  font-size: 30px;
  width: 30px;
}
.blog-div {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
.blog-div button {
  font-size: 22px;
  float: right;
}
.border-red {
  border: 1px solid #c0392b;
  border-radius: 5px;
}
.border-black {
  border: 1px solid black;
  border-radius: 5px;
}
.border-green {
  border: 1px solid #16a085;
  border-radius: 5px;
}
.border-purple {
  border: 1px solid #8e44ad;
  border-radius: 5px;
}
.comment-textarea {
  width: 100%;
  max-width: 800px;
  resize: none;
  height: 100px;
  font-size: 22px;
  display: block;
}
.form-textarea {
  width: 100%;
  max-width: 800px;
  resize: none;
  height: 500px;
  font-size: 22px;
  display: block;
}
.form-input {
  font-size: 22px;
  max-width: 400px;
  width: 100%;
}
.blog-form {
  font-size: 22px;
}
.blog-form input {
  font-size: 22px;
  margin-bottom: 10px;
}
.blog-form pre {
  margin: 0;
  display: block;
}
.blog-form button {
  color: red;
}
.blog-header {
  font-size: 24px;
  font-weight: bold;
}
.blog-header button {
  text-align: right;
}
.blog-content {
  font-size: 22px;
  margin-top: 10px;
}
.blog-error {
  color: red;
}
.blog-float-left {
  float: left;
}
.margin-zero {
  margin: 0;
}
.blog-button {
  border: none;
  padding: 0;
  outline: 0;
  color: #2980b9;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}
.blog-button:disabled {
  color: #9f9f9f;
}
.button-col-black {
  color: #000;
  cursor: pointer;
}
.button-col-black:active {
  transform: translateY(4px);
}
.button-col-purple {
  color: #8e44ad;
  cursor: pointer;
}
.button-col-purple:hover {
  color: #a569bd;
}
.button-col-purple:active {
  color: #bb8fce;
  transform: translateY(4px);
}
.button-col-red {
  color: #c0392b;
  cursor: pointer;
}
.button-col-red:hover {
  color: #cd6155;
}
.button-col-red:active {
  color: #d98880;
  transform: translateY(4px);
}
.button-col-blue {
  color: #2980b9;
  cursor: pointer;
}
.button-col-blue:hover {
  color: #5499c7;
}
.button-col-blue:active {
  color: #7fb3d5;
  transform: translateY(4px);
}
.button-col-green {
  color: #16a085;
  cursor: pointer;
}
.button-col-green:hover {
  color: #45b39d;
}
.button-col-green:active {
  color: #73c6b6;
  transform: translateY(4px);
}
.button-col-orange {
  color: #e67e22;
  cursor: pointer;
}
.button-col-orange:hover {
  color: #eb984e;
}
.button-col-orange:active {
  color: #f0b27a;
  transform: translateY(4px);
}
.theme-col-black {
  color: #000000;
}
.theme-col-purple {
  color: #8e44ad;
}
.theme-col-red {
  color: #c0392b;
}
.theme-col-green {
  color: #16a085;
}
.theme-col-blue {
  color: #2980b9;
}
.theme-col-orange {
  color: #e67e22;
}
.theme-col-black,
.theme-col-purple,
.theme-col-red,
.theme-col-green,
.theme-col-blue,
.theme-col-orange {
  background-color: transparent;
}
.theme-col-black hr {
  border: 1px solid #000000;
}
.theme-col-purple hr {
  border: 1px solid #8e44ad;
}
.theme-col-red hr {
  border: 1px solid #c0392b;
}
.theme-col-green hr {
  border: 1px solid #16a085;
}
.theme-col-blue hr {
  border: 1px solid #2980b9;
}
.theme-col-orange hr {
  border: 1px solid #e67e22;
}
