/* For screen width <= 600px */
@media (max-width: 600px) {
  .navbar {
    justify-content: center;
  }
  .page-title-container {
    flex-direction: column;
  }
  .page-title {
    order: 2;
  }
}

/* For screen width >= 601px */
@media (min-width: 601px) {
  .navbar {
    justify-content: flex-end;
  }
}

body {
  font-family: "courier new", courier, monospace;
  background-image: url("/static/img/symphony.png");
}

a {
  color: inherit;
  text-decoration: none;
}

.website-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.website-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar a {
  font-size: 30px;
}

.page-title-container {
  display: flex;
  align-items: center;
}

.page-title {
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.signed-in-container {
  order: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.message-list {
  font-size: 20px;
}

.error-list {
  color: #c0392b;
}

.page-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-field {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-field label {
  font-size: 22px;
}

.form-input {
  margin-top: 5px;
}

.form-input input {
  font-size: 18px;
  max-width: 400px;
  width: 100%;
}

.form-input textarea {
  font-size: 18px;
  max-width: 600px;
  width: 100%;
}

.post-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
}

.post-header {
  display: flex;
  align-items: baseline;
}

.post-title-container {
  flex-grow: 1;
}

.post-author-container {
  font-size: 16px;
}

.post-title {
  font-size: 22px;
}

.post-button-container {
  font-size: 20px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-date {
  font-size: 14;
}

.post-action-container {
  font-size: 24px;
}

.post-body {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.post-comments {
  margin-top: 20px;
}

.comment-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
}

.comment-header {
  display: flex;
  align-items: baseline;
}

.comment-title-container {
  flex-grow: 1;
}

.comment-button-container {
  font-size: 20px;
}

.comment-title {
  font-size: 18px;
}

.comment-body {
  margin-top: 2px;
  margin-bottom: 2px;
}

.comment-footer {
  text-align: right;
}

.comment-date {
  font-size: 14px;
}

.search-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 24;
}

.search-input {
  margin-left: 10px;
  flex-grow: 1;
}

.search-input input {
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
}

.user-container {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.user-name {
  font-size: 24px;
}

.user-stats {
  display: flex;
  justify-content: center;
}

.user-stats-item {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-container {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.enclose-slash::before {
  content: "/";
}

.enclose-slash::after {
  content: "/";
}

.enclose-square::before {
  content: "[";
}

.enclose-square::after {
  content: "]";
}

.divider {
  border-width: 2px;
}

.button-black,
.button-red,
.button-blue,
.button-green,
.button-orange,
.button-purple,
.button-grey,
.theme-button {
  border: none;
  padding: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}

.button-black:active,
.button-red:active,
.button-blue:active,
.button-green:active,
.button-orange:active,
.button-purple:active,
.button-grey:active,
.theme-button:active {
  transform: translateY(4px);
}

.theme-black,
.theme-black .theme-button,
.color-black,
.button-black {
  color: #000000;
}

.theme-red,
.theme-red .theme-button,
.color-red,
.button-red {
  color: #c0392b;
}

.theme-red .theme-button:hover,
.button-red:hover {
  color: #cd6155;
}

.theme-red .theme-button:active,
.button-red:active {
  color: #d98880;
}

.theme-blue,
.theme-blue .theme-button,
.color-blue,
.button-blue {
  color: #2980b9;
}

.theme-blue .theme-button:hover,
.button-blue:hover {
  color: #5499c7;
}

.theme-blue .theme-button:active,
.button-blue:active {
  color: #7fb3d5;
}

.theme-green,
.theme-green .theme-button,
.color-green,
.button-green {
  color: #16a085;
}

.theme-green .theme-button:hover,
.button-green:hover {
  color: #45b39d;
}

.theme-blue .theme-button:active,
.button-green:active {
  color: #73c6b6;
}

.theme-orange,
.theme-orange .theme-button,
.color-orange,
.button-orange {
  color: #e67e22;
}

.theme-orange .theme-button:hover,
.button-orange:hover {
  color: #eb984e;
}

.theme-blue .theme-button:active,
.button-orange:active {
  color: #f0b27a;
}

.theme-purple,
.theme-purple .theme-button,
.color-purple,
.button-purple {
  color: #8e44ad;
}

.theme-purple .theme-button:hover,
.button-purple:hover {
  color: #a569bd;
}

.theme-purple .theme-button:active,
.button-purple:active {
  color: #bb8fce;
}

.theme-grey,
.theme-grey .theme-button,
.color-grey,
.button-grey {
  color: #7f8c8d;
}

.theme-grey .theme-button:hover,
.button-grey:hover {
  color: #99a3a4;
}

.theme-grey .theme-button:active,
.button-grey:active {
  color: #b2babb;
}

.theme-black .theme-border {
  border: 1px solid #000000;
}

.theme-red .theme-border {
  border: 1px solid #c0392b;
}

.theme-green .theme-border {
  border: 1px solid #16a085;
}

.theme-blue .theme-border {
  border: 1px solid #2980b9;
}

.theme-orange .theme-border {
  border: 1px solid #e67e22;
}

.theme-purple .theme-border {
  border: 1px solid #8e44ad;
}

.theme-grey .theme-border {
  border: 1px solid #7f8c8d;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-align-center {
  text-align: center;
}

.display-inline-flex {
  display: inline-flex;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.min-width-600 {
  margin-bottom: 600px;
}
