/* For screen width <= 600px */
@media (max-width: 600px) {
  .navbar {
    justify-content: center;
  }
  .page-title-container {
    flex-direction: column;
  }
  .page-title {
    order: 2;
  }
}

/* For screen width >= 601px */
@media (min-width: 601px) {
  .navbar {
    justify-content: flex-end;
  }
}

body {
  font-family: "courier new", courier, monospace;
  background-image: url("/static/img/symphony.png");
}

a {
  text-decoration: none;
}

.website-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.website-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.page-title-container {
  display: flex;
  align-items: center;
}

.page-title {
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.signed-in-container {
  order: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-field {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-field label {
  font-size: 22px;
}

.form-input {
  margin-top: 5px;
}

.form-input input {
  font-size: 18px;
}

.enclose-slash::before {
  content: "/";
}

.enclose-slash::after {
  content: "/";
}

.enclose-square::before {
  content: "[";
}

.enclose-square::after {
  content: "]";
}

.button-black,
.button-red,
.button-blue,
.button-green,
.button-orange,
.button-purple,
.theme-button {
  border: none;
  padding: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}

.button-black:active,
.button-red:active,
.button-blue:active,
.button-green:active,
.button-orange:active,
.button-purple:active,
.theme-button:active {
  transform: translateY(4px);
}

.theme-black,
.theme-black .theme-button,
.button-black {
  color: #000000;
}

.theme-red,
.theme-red .theme-button,
.button-red {
  color: #c0392b;
}

.theme-red .theme-button:hover,
.button-red:hover {
  color: #cd6155;
}

.theme-red .theme-button:active,
.button-red:active {
  color: #d98880;
}

.theme-blue,
.theme-blue .theme-button,
.button-blue {
  color: #2980b9;
}

.theme-blue .theme-button:hover,
.button-blue:hover {
  color: #5499c7;
}

.theme-blue .theme-button:active,
.button-blue:active {
  color: #7fb3d5;
}

.theme-green,
.theme-green .theme-button,
.button-green {
  color: #16a085;
}

.theme-green .theme-button:hover,
.button-green:hover {
  color: #45b39d;
}

.theme-blue .theme-button:active,
.button-green:active {
  color: #73c6b6;
}

.theme-orange,
.theme-orange .theme-button,
.button-orange {
  color: #e67e22;
}

.theme-orange .theme-button:hover,
.button-orange:hover {
  color: #eb984e;
}

.theme-blue .theme-button:active,
.button-orange:active {
  color: #f0b27a;
}

.theme-purple,
.theme-purple .theme-button,
.button-purple {
  color: #8e44ad;
}

.theme-purple .theme-button:hover,
.button-purple:hover {
  color: #a569bd;
}

.theme-purple .theme-button:active,
.button-purple:active {
  color: #bb8fce;
}

.theme-black .theme-border {
  border: 1px solid #000000;
}

.theme-red .theme-border {
  border: 1px solid #c0392b;
}

.theme-green .theme-border {
  border: 1px solid #16a085;
}

.theme-blue .theme-border {
  border: 1px solid #2980b9;
}

.theme-orange .theme-border {
  border: 1px solid #e67e22;
}

.theme-purple .theme-border {
  border: 1px solid #8e44ad;
}

.border-radius-4 {
  border-radius: 4px;
}

.text-align-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}
