@media (max-width: 900px) {
}

/* For screen width <= 600px */
@media (max-width: 600px) {
  .navbar {
    justify-content: center;
  }
  .page-title-container {
    flex-direction: column;
  }
  .page-title {
    order: 2;
  }
}

/* For screen width >= 601px */
@media (min-width: 601px) {
  .navbar {
    justify-content: flex-end;
  }
}

@media (min-width: 400px) {
}

.website-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.website-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar .button {
  font-size: 30px;
}

.page-title-container {
  display: flex;
  align-items: center;
}

.signed-in-container {
  order: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-title {
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.button {
  border: none;
  padding: 0;
  outline: 0;
  cursor: pointer;
  font-size: 22px;
  background-color: transparent;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}

.button:active {
  transform: translateY(4px);
}

.theme-col-black,
.button-col-black {
  color: #000000;
}

.theme-col-purple,
.button-col-purple {
  color: #8e44ad;
}

.button-col-purple:hover {
  color: #a569bd;
}

.button-col-purple:active {
  color: #bb8fce;
}

.theme-col-red,
.button-col-red {
  color: #c0392b;
}

.button-col-red:hover {
  color: #cd6155;
}

.button-col-red:active {
  color: #d98880;
}

.theme-col-blue,
.button-col-blue {
  color: #2980b9;
}

.button-col-blue:hover {
  color: #5499c7;
}

.button-col-blue:active {
  color: #7fb3d5;
}

.theme-col-green,
.button-col-green {
  color: #16a085;
}

.button-col-green:hover {
  color: #45b39d;
}

.button-col-green:active {
  color: #73c6b6;
}

.theme-col-orange,
.button-col-orange {
  color: #e67e22;
}

.button-col-orange:hover {
  color: #eb984e;
}

.button-col-orange:active {
  color: #f0b27a;
}

.theme-col-black .border {
  border: 1px solid #000000;
}

.theme-col-purple .border {
  border: 1px solid #8e44ad;
}

.theme-col-red .border {
  border: 1px solid #c0392b;
}

.theme-col-green .border {
  border: 1px solid #16a085;
}

.theme-col-blue .border {
  border: 1px solid #2980b9;
}

.theme-col-orange .border {
  border: 1px solid #e67e22;
}

.border-radius-4 {
  border-radius: 4px;
}

.text-align-center {
  text-align: center;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-22 {
  font-size: 22px;
}
