<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MYAPP-BLOG:{{page_title}}</title>
  <!-- https://fontawesome.com/v4.7.0/ -->
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <!-- CUSTOM_STYLES -->
  <link rel="stylesheet" href="/static/css/custom-styles.css">
</head>

<body>
  <div class="theme-col-{{page_color}}">
    <h1 class="text-align-center">[ MYAPP-BLOG ]</h1>
    {% if user %}
    <h3 class="blog-sign-out">
      [ <i class="fa fa-user" aria-hidden="true"></i> {{user.username}} ]
      <a href="/sign-out">
        [ <i class="fa fa-sign-out" aria-hidden="true"></i> SIGN-OUT ]
      </a>
    </h3>
    {% endif %}
    <h2>/ {{page_title}} /</h2>
    {% block content %}
    {% endblock %}
    <hr>
  </div>
</body>

</html>