{% extends "base.html" %}
{% block content %}
<div class="blog-menu">
  <a href="/">
    <button class="blog-button button-col-red">
      / <i class="fa fa-home" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/new-post">
    <button class="blog-button button-col-blue">
      / <i class="fa fa-pencil-square-o" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/my-post">
    <button class="blog-button button-col-green">
      / <i class="fa fa-align-justify" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/setting">
    <button class="blog-button button-col-orange">
      / <i class="fa fa-cogs" aria-hidden="true"></i> /
    </button>
  </a>
  <hr>
</div>
<div class="blog-form">
  <form method="POST">
    <input hidden name="post_id" value="{{post_id}}" readonly>
    <pre>NAME :</pre>
    <input class="form-input" name="name" type="text" value="{{input_name}}" required>
    <pre>E-MAIL :</pre>
    <input class="form-input" name="email" type="email" value="{{input_email}}" required> 
    <span class="blog-error">{{err_email}}</span>
    <pre>COMMENT :</pre>
    <textarea class="comment-textarea" name="content" required>{{content}}</textarea>
    <br>
    <br>
    <input class="blog-button button-col-purple" type="submit" value="[ SUBMIT ]">
    <a href="/post/{{post_id}}"><input class="blog-button button-col-purple" type="button" value="[ CANCEL ]"></a>
  </form>
</div>
{% endblock %}