{% extends "base.html" %}
{% block content %}
{% if user %}
<div class="blog-menu">
  <a href="/">
    <button class="blog-button button-col-red">
      / <i class="fa fa-home" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/new-post">
    <button class="blog-button button-col-blue">
      / <i class="fa fa-pencil-square-o" aria-hidden="true"></i> /
    </button></a>
  <a href="/my-post">
    <button class="blog-button button-col-green">
      / <i class="fa fa-align-justify" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/setting">
    <button class="blog-button button-col-orange">
      / <i class="fa fa-cogs" aria-hidden="true"></i> /
    </button>
  </a>
  <hr>
</div>
{% else %}
<hr>
{% endif %}
<div class="page-content">
  <br>
  <h1 class="text-align-center">
    {{page_error}}
  </h1>
  <br>
</div>
{% endblock %}