{% extends "base.html" %}
{% block content %}
{% if user %}
<div class="blog-menu">
  <a href="/">
    <button class="blog-button button-col-red">
      [ <i class="fa fa-home" aria-hidden="true"></i> ]
    </button>
  </a>
  <a href="/new-post">
    <button class="blog-button button-col-blue">
      / <i class="fa fa-pencil-square-o" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/my-post">
    <button class="blog-button button-col-green">
      / <i class="fa fa-align-justify" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/setting">
    <button class="blog-button button-col-orange">
      / <i class="fa fa-cogs" aria-hidden="true"></i> /
    </button>
  </a>
  <hr>
</div>
{% else %}
<div class="blog-menu">
  <a href="/">
    <button class="blog-button button-col-black">
      [ <i class="fa fa-home" aria-hidden="true"></i> ]
    </button>
  </a>
  <a href="/sign-in">
    <button class="blog-button button-col-black">
      / <i class="fa fa-sign-in" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/sign-up">
    <button class="blog-button button-col-black">
      / <i class="fa fa-user-plus" aria-hidden="true"></i> /
    </button>
  </a>
  <hr>
</div>
{% endif %}
{% if posts.count() %}
{% for post in posts %}
<div class="blog-div border-{{theme_color}}">
  <div class="blog-header">
    <a href="/post/{{post.id}}">
      <span class="button-col-{{theme_color}}">{{post.subject}}</span>
    </a>
    <button class="blog-button button-col-{{theme_color}}">
      [ <i class="fa fa-comment-o" aria-hidden="true"></i> : {{post.comments.count())}} ]
    </button>
    <button class="blog-button button-col-{{theme_color}}">
      [ <i class="fa fa-check" aria-hidden="true"></i> : {{post.liked_by.count()}} ]
    </button>
    <hr>
      </div>
      <div class="blog-content">
        {% if post.content|length > 300 %}
        <pre>{{post.content[:300]|safe}}...</pre>
        <h5>
          <a href="/post/{{post.id}}">
            [ <i class="fa fa-folder-open-o" aria-hidden="true"></i> READ-MORE ]
          </a>
        </h5>
        {% else %}
        <pre>{{post.content|safe}}</pre>
        {% endif %}
        <hr>
      </div>
      <div class="blog-footer-post">
        {% if user and not post.user_id == user.id %}
        {% if post in user.liked_posts %}
        <a href="/post/{{post.id}}/dislike">
          [ <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> DISLIKE ]
        </a>
        {% else %}
        <a href="/post/{{post.id}}/like">
          [ <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> LIKE ]
        </a>
        {% endif %}
        {% endif %}
        [ <i class="fa fa-calendar" aria-hidden="true"></i> {{post.created.strftime("%b %d, %Y")}} ]
      </div>
    </div>
    {% if post.comments.count() > 0 %}
    {% for comment in post.comments %}
    <div class="blog-div border-{{theme_color}}">
      <h3 class="margin-zero">
        {{comment.name}}
      </h3>
      <p>
        {{comment.content}}
      </p>
      <div class="blog-footer-comment">
        {% if not comment.user_id == post.user_id %}
        <span class="blog-float-left">
          <a href="/comment/{{comment.id}}/edit">
            [ <i class="fa fa-pencil" aria-hidden="true"></i> EDIT ]
          </a>
        </span>
        <span class="blog-float-left">
          <a href="/comment/{{comment.id}}/delete">
            [ <i class="fa fa-trash" aria-hidden="true"></i> DELETE ]
          </a>
        </span>
        {% endif %}
        [ <i class="fa fa-envelope-o" aria-hidden="true"></i>{{comment.email}} ]
        [ <i class="fa fa-clock-o" aria-hidden="true"></i>{{comment.created.strftime("%H:%M %x")}} ]
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% else %}
    <h2 class="text-align-center">[ EMPTY ]</h2>
    {% endif %}
    {% endblock %}