{% extends "base.html" %}
{% block content %}
<div class="blog-menu">
  <a href="/">
    <button class="blog-button button-col-red">
      / <i class="fa fa-home" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/new-post">
    <button class="blog-button button-col-blue">
      [ <i class="fa fa-pencil-square-o" aria-hidden="true"></i> ]
    </button>
  </a>
  <a href="/my-post">
    <button class="blog-button button-col-green">
      / <i class="fa fa-align-justify" aria-hidden="true"></i> /
    </button>
  </a>
  <a href="/setting">
    <button class="blog-button button-col-orange">
      / <i class="fa fa-cogs" aria-hidden="true"></i> /
    </button>
  </a>
  <hr>
</div>
<div class="blog-form">
  <form method="POST">
    <pre>SUBJECT :</pre>
    <input class="form-input" name="subject" autocomplete="false" type="text" value="{{subject}}">
    <pre>CONTENT :</pre>
    <textarea class="form-textarea" name="content">{{content}}</textarea>
    <h3 class="blog-error">{{err_msg}}</h3>
    <br>
    <input class="blog-button button-col-blue" type="submit" value="[ SUBMIT ]">
  </form>
</div>
{% endblock %}